@font-face {
    font-family: "arnold";
    src: url("../fonts/arnold-21_[allfont.es].ttf");
}
@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto-regular", sans-serif;
    text-decoration: none;
    color: #333; /*color de textos*/
    
}

/*Seccion de Nosotros*/
.containerUS{
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.titleUs{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 80px;
}

.titleUs h3{
    font-family: "arnold";
    color:#653392;
}

.contentUs{
    background-color: #FEBD00;
    border-radius: 0px 63px 63px 0px;
    height: 300px;
}

.usText{
    padding: 0 10%;
    margin-top: 60px;
}

.usText h3{
    font-family: "arnold";
    color:#653392;
    height: 70px;
    width: 432px;
    font-size: 40px;
}

.usText p{
    font-size: 20px;
    color: #333;
    font-family: "roboto-bold";
}

.imgUs{
    background: #FEBD00;
    border-radius: 360px;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 5%;
    margin-left: auto;
}

.imgUs img{
    height: 300px;
    border-radius: 0px;
}

/*Seccion de historia*/

.history{
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 5%;
}

.description{
    color: #0000;
    font-family: "roboto-bold";
    text-align: justify;
    width: 325px;
    height: 120px;
}


.description p{
    font-size: 18px;
    line-height: 25px;
    font-family: "roboto-bold";
}

.imgHistory{
    height: 336px;

}
.imgHistory img{
    height: 236px;
    width: 325px;
    border-radius: 63px;
    margin-top: 10px;
    box-shadow: -10px 0px 4px 0 #00000025;
}

/*Seccion de equipo*/
.ourTeam{
    margin-top: 20px;
    background-color: #FFBD00;
    width: 100%;
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 5%;
    row-gap: 30px;
    
}

.BackgroundTeam{
    background-color: #FEBD00;
    padding-top: 3%;
}
.containerTeam{
    margin-bottom: 20px;   
}
   
.titleTeam h3{
    text-align: center;
    font-size: 40px;
    font-family: "arnold";
    color: #653392;
    padding-bottom: 5%;
}

.imgTeam img{
    border-radius: 360px;
    width: 258px;
    height: 258px;
    box-shadow: 8px 6px 2px 0px #00000025;
}

.textTeam{
    
    font-family: "roboto-bold";
    text-align: center;
}

.textTeam p{
    font-size: 20px;
    margin-top: 10px;
    color: #653392;
}

/*Seccion de mision y valor */

.containerMision{
    margin-top: 30px;
    width: 100%;
}

.textMision p{
    font-family: "roboto-bold";
    text-align: center;
    font-size: 18px;
}


/*seccion de premios y distinciones*/

containerAwards{
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.elipse{
    background-color: #FEBD00;
    border-radius: 50% 50% 0 0;
    width: 110%;
    height: 900px;
    padding-bottom: 109px;
    margin-left: -5%;
    margin-right: -5%;
}

.InfoElipse{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    justify-content: center;
    height: 350px;
    row-gap: 53px;

}

.titleAwards h3{
    color: #653392;
    font-family: "arnold";
    font-size: 40px;
    text-align: center;
}

.textAwards p{
    font-size: 18px;
    font-family: "roboto-bold";
    width: 50%;
    text-align: justify;
    margin: auto;
}

.nomatividad p{
    
    text-align: center;
    color: #000;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: "roboto-bold";
}

@media screen and (max-width: 1280) {
    
}
@media screen and (max-width: 768px) {

    .elipse{
        height: 350px;
    }

    .InfoElipse{
        width: 90%;
    }

    .titleAwards h3{
        font-size: 25px;
    }
    .textAwards p{
        font-size: 16px;
        width: 100%;
        padding: 0 5%;
    }

}

.nomatividad p{
    
    text-align: center;
    color: #000;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: "roboto-bold";
}

@media screen and (max-width: 1052px) {
    .containerUS{
        background-color: #FEBD00;
        border-radius: 63px;
        
        }
    
        .imgUs{
            display: none;
        }
        .imgUs{
            display: none;
        }
    
        .usText h3 {
            text-align: center;
            width: 100%;
          }
        
        .usText p {
        text-align: center;
      }
   
}
@media screen and (max-width: 768px) {
    .containerUS{
    background-color: #FEBD00;
    border-radius: 63px;
    
    }

    .imgUs{
        display: none;
    }

    .usText h3 {
        text-align: center;
        width: 100%;
      }
    
    .usText p {
    text-align: center;
  }
  .titleawards{
    font-size: 30px;
    
}

}